<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>jewel_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,100},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>jewel_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,100},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>jewel_indigo.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,150},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>jewel_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,150},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>jewel_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,164},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>jewel_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,164},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>jewel_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,214},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>leave_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>leave_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,0},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>try_again_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,0},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>try_again_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{150,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,50}</string>
			</dict>
			<key>rotate_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,214},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>rotate_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,262},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>rotate_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,228},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>triangle_blue.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,228},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>triangle_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,276},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>triangle_indigo.png</key>
			<dict>
				<key>frame</key>
				<string>{{48,276},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>triangle_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,278},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>triangle_purple.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,278},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>triangle_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{192,310},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>triangle_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,324},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>JewelRotation.png</string>
			<key>realTextureFileName</key>
			<string>JewelRotation.png</string>
			<key>size</key>
			<string>{256,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>